<div class="center hero-unit">
	<h1>Welcome to IA Prototype!</h1>
	<p>
		You have found the site for the InkAssembly Prototype project.	
	<p>
		<%= link_to 'Sign up now!',  "#" , class: "btn btn-large btn-primary" %>
	<p>
</div>